form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.questions {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

input[type="submit"] {
  font-family: Inter, sans-serif;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-radius: 0.625rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #344f89;
}
