.quizSection {
  margin: 0;
  padding: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 1rem 0;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

input[type="submit"] {
  font-family: Inter, sans-serif;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-radius: 0.625rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #344f89;
}

.results {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.results span {
  font-weight: 700;
}

button {
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 3rem;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: #344f89;
}
