* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  background-color: #f5f7fb;
  color: #293264;
  margin: 0;
  padding: 0;
}

div.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
}
